.service {
    text-align: center;
}

.service__title {
    margin: 25px 0 12px 0;
    color: $white;
    font-size: 21px;
}

.service__text {
    align-items: center;
    padding: 0 20px;
    color: $white;

    @include respond (mobile) {
        font-size: $mainFontSize;
        padding: 0;
    }
}